<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>[SUBJECT]</title>
    <style type="text/css">
        body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
        }

        .tableContent img {
            border: 0 !important;
            display: block !important;
            outline: none !important;
        }

        a {
            color: #382F2E;
        }

        p, h1 {
            color: #382F2E;
            margin: 0;
        }

        div, p, ul, h1 {
            margin: 0;
        }

        p {
            font-size: 13px;
            color: #99A1A6;
            line-height: 19px;
        }

        h2, h1 {
            color: #444444;
            font-weight: normal;
            font-size: 22px;
            margin: 0;
        }

        a.link2 {
            padding: 15px;
            font-size: 13px;
            text-decoration: none;
            background: #2D94DF;
            color: #ffffff;
            border-radius: 6px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
        }
    </style>

    <script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"f6f6f6",
    "link":"ffffff",
    "color":"99A1A6",
    "bgItem":"2C94E0",
    "title":"444444"
  }


    </script>

</head>
<body paddingwidth="0" paddingheight="0" bgcolor="#d1d3d4"
      style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;"
      offset="0" toppadding="0" leftpadding="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent" bgcolor="#f6f6f6" align="center"
       style='font-family:Helvetica, Arial,serif;'>

    <!-- =============================== Header ====================================== -->

    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                <tr>
                    <td class='movableContentContainer'>


                        <div class='movableContent'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                <tr>
                                    <td height='12' colspan='3'></td>
                                </tr>

                                <tr>
                                    <td valign='top' colspan='3'>
                                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center"
                                               valign='top'>
                                            <tr>
                                                <td align='left' valign='middle'>
                                                    <div class="contentEditableContainer contentImageEditable">
                                                        <div class="contentEditable">
                                                            <img src="{{ base_url }}/assets/mail/logo.png" alt='company logo'
                                                                 data-default="placeholder" data-max-width="300"
                                                                 width='473' height='69'>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td align='right' valign='top'>
                                                    <div class="contentEditableContainer contentTextEditable"
                                                         style='display:inline-block;'>
                                                        <div class="contentEditable">
                                                            <a target='_blank' href="[SHOWEMAIL]"
                                                               style='color:#A8B0B6;font-size:10px;text-decoration:none;'>Open
                                                                in your browser </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td width='18' align='right' valign='top'>
                                                    <div class="contentEditableContainer contentImageEditable"
                                                         style='display:inline-block;'>
                                                        <div class="contentEditable">
                                                            <a target='_blank' href="[SHOWEMAIL]"><img
                                                                    src="{{ base_url }}/assets/mail/openBrowser.png"
                                                                    alt='open in browser image'
                                                                    data-default="placeholder" width='15' height='15'
                                                                    style='padding-left:10px;'></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class='movableContent'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                <tr>
                                    <td height='8'></td>
                                </tr>

                                <tr>
                                    <td height='290' bgcolor="#30b3d2">
                                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center"
                                               valign='top'>
                                            <tr>
                                                <td height='50'></td>
                                            </tr>
                                            <tr>
                                                <td width='250'>
                                                    <div class="contentEditableContainer contentImageEditable">
                                                        <div class="contentEditable">
                                                            <img src="{{ base_url }}/assets/mail/promotion.png" alt='featured image'
                                                                 data-default="placeholder" data-max-width="300"
                                                                 width='261' height='206'>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td width='350' valign='top'>
                                                    <table width="350" border="0" cellspacing="0" cellpadding="0"
                                                           align="center" valign='top'>
                                                        <tr>
                                                            <td colspan='3' height='10'></td>
                                                        </tr>

                                                        <tr>
                                                            <td width='10'></td>
                                                            <td width='330' valign='top'>
                                                                <table width="330" border="0" cellspacing="0"
                                                                       cellpadding="0" align="center" valign='top'>
                                                                    <tr>
                                                                        <td valign='top'>
                                                                            <div class="contentEditableContainer contentTextEditable">
                                                                                <div class="contentEditable">
                                                                                    <h1 style='font-size:24px;font-weight:normal;color:#ffffff;line-height:19px;'>
                                                                                        Remarks Universal Notifier </h1>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height='18'></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td valign='top'>
                                                                            <div class="contentEditableContainer contentTextEditable">
                                                                                <div class="contentEditable">
                                                                                    <p style='font-size:13px;color:#cfeafa;line-height:19px;'>
                                                                                        Egy olyan általános
                                                                                        hibabejelentő alkalmazás,
                                                                                        amellyel a felhasználók
                                                                                        növelhetik a weboldal
                                                                                        használhatóságát, és ezzel
                                                                                        folyamatosan erősíthetjük a
                                                                                        felhasználóink bizalmát. </p>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height='33'></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align='right'>
                                                                            <div class="contentEditableContainer contentTextEditable">
                                                                                <div class="contentEditable">
                                                                                    <a target='_blank'
                                                                                       href="https://github.com/bigfish-hu/remarker"
                                                                                       style='padding:15px;font-size:13px;text-decoration:none;background:#1C80C9;color:#E5F5FF;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;'>Megismerem!</a>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height='15'></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td width='10'></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td height='25'></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td height='25'></td>
                                </tr>
                            </table>
                        </div>


                        <div class='movableContent'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                <tr>
                                    <td>
                                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center"
                                               valign='top'>
                                            <tr>
                                                <td colspan='3' height='25'></td>
                                            </tr>
                                            <tr>
                                                <td width='50'></td>
                                                <td width='500'>
                                                    <table width="500" border="0" cellspacing="0" cellpadding="0"
                                                           align="center" valign='top'>
                                                        <tr>
                                                            <td align='center'>
                                                                <div class='contentEditableContainer contentTextEditable'>
                                                                    <div class='contentEditable'>
                                                                        <h1 style='font-size:32px;'>Érkezett egy
                                                                            bejelentése!
                                                                        </h1>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height='20'></td>
                                                        </tr>
                                                        <tr>
                                                            <td align='left'>
                                                                <div class='contentEditableContainer contentTextEditable'>
                                                                    <div class='contentEditable'>
                                                                        <p><b>A bejelentő neve:</b> {{ feedback.name }}<br>
                                                                            <b>A bejelentő e-mail címe:</b>
                                                                            {{ feedback.email }}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width='50'></td>
                                            </tr>
                                            <tr>
                                                <td colspan='3' height='10'></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class='movableContent'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                <tr>
                                    <td>
                                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                                            <tr>
                                                <td height='10'>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style='border-bottom:1px solid #DDDDDD'></td>
                                            </tr>
                                            <tr>
                                                <td height='10'>&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class='movableContent'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                <tr>
                                    <td>
                                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center"
                                               valign='top'>
                                            <tr>
                                                <td colspan='3' height='10'></td>
                                            </tr>
                                            <tr>
                                                <td width='30'></td>
                                                <td width='540'>
                                                    <table width="500" border="0" cellspacing="0" cellpadding="0"
                                                           align="center" valign='top'>
                                                        <tr>
                                                            <td align='left'>
                                                                <div class='contentEditableContainer contentTextEditable'>
                                                                    <div class='contentEditable'>
                                                                        <h3 style="margin-top: 0; padding-top: 0; color: #99a1a6;">{{ feedback.title }}</h3>
                                                                        <p><b>Bejelentés leírása:</b> {{ feedback.description }}</p>
                                                                        <p><b>Url:</b> {{ feedback.url }}</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height='10'></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width='30'></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class='movableContent'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                <tr>
                                    <td>
                                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                                            <tr>
                                                <td height='10'>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style='border-bottom:1px solid #DDDDDD'></td>
                                            </tr>
                                            <tr>
                                                <td height='10'>&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class='movableContent'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                <tr>
                                    <td>
                                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center"
                                               valign='top'>
                                            <tr>
                                                <td colspan='3' height='10'></td>
                                            </tr>
                                            <tr>
                                                <td width='30'></td>
                                                <td width='540'>
                                                    <table width="500" border="0" cellspacing="0" cellpadding="0"
                                                           align="center" valign='top'>
                                                        <tr>
                                                            <td align='left'>
                                                                <div class='contentEditableContainer contentTextEditable'>
                                                                    <div class='contentEditable'>
                                                                        <p>
                                                                            <b>Operációs rendszer:</b> {{ feedback.browser.platform }}<br/>
                                                                            <b>Böngésző:</b> {{ feedback.browser.name }}<br/>
                                                                            <b>Sütik:</b> {{ feedback.browser.isCookieEnabled ? "engedélyezve" : "letiltva" }}<br/>
                                                                            <b>Képernyőméret:</b> {{ feedback.browser.screen }}<br/>
                                                                            <b>User agent:</b> {{ feedback.browser.userAgent }}<br/>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height='10'></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width='30'></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class='movableContent'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                <tr>
                                    <td>
                                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center"
                                               valign='top'>
                                            <tr>
                                                <td>
                                                    <table width="600" border="0" cellspacing="0" cellpadding="0"
                                                           align="center" valign='top'>

                                                        <tr>
                                                            <td>
                                                                <table width="600" border="0" cellspacing="0"
                                                                       cellpadding="0" align="center">
                                                                    <tr>
                                                                        <td height='10'>&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style='border-bottom:1px solid #DDDDDD'></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height='10'>&nbsp;</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td height='28'>&nbsp;</td>
                                                        </tr>

                                                        <tr>
                                                            <td valign='top' align='center'>
                                                                <div class="contentEditableContainer contentTextEditable">
                                                                    <div class="contentEditable">
                                                                        <p style='font-weight:bold;font-size:11px;line-height: 16px;'>
                                                                            Ezt az e-mailt a Remarks Universal Notifier
                                                                            rendszere küldte Önnek. Amennyiben az adatok
                                                                            hibásan jelennek meg, kérem lépjen velünk
                                                                            kapcsolatba az <a
                                                                                href="mailto:{{ email_address }}"
                                                                                target="_blank">{{ email_address }}</a>
                                                                            címen.</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td height='28'>&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>

</body>
</html>
