<div id="feedback-welcome">
    <div class="feedback-logo">{{ text.title }}</div>
    <p>{{ text.description_1 }}</p>
    <p>{{ text.description_2 }}</p>
    <textarea id="feedback-note-tmp"></textarea>
    <p>{{ text.note }}</p>
    <button id="feedback-welcome-next" class="feedback-next-btn feedback-btn-gray">{{ text.next }}</button>
    <div id="feedback-welcome-error">{{ text.enter_description }}</div>
    <div class="feedback-wizard-close"></div>
</div>
